*hist*
*log*
.*swp
.*xml
.CFUserTextEncoding
.DS_Store
.android
.bash_sessions
.boto
.cache
.git/config
.gitconfig
.gsutil
.ssh/google_compute_known_hosts
.viminfo
.vagrant.d

AndroidStudioProjects
Applications
Desktop
Documents
Downloads
Dropbox
Google *
Library
Movies
Music
OneDrive
Pictures
Public
sandbox
tmp
tools
VirtualBox VMs
.Trash
.local/
.rnd
.vscode/
.lesshst
*cache*
*.local*
*info*
*hst*

commands/
.znc/
.ssh/
.netrc

.config/com.add0n.node/
.config/fish/completions/
.config/fish/conf.d/
.config/fish/*.backup
.config/fish/fishd.*
.config/fish/fishfile
.config/fish/functions/
.config/fisherman/
.config/gcloud/
.config/karabiner/
.config/.mono
.config/menus
.dropbox
.gradle
.wine 

.subversion/
.terraform.d/
.vim/
