*hist*
*log*
.git/config
.CFUserTextEncoding
.*xml
.*swp
.bash_sessions
.boto
.config
.gsutil
.viminfo
.DS_Store
.cache
.ssh/google_compute_known_hosts
.gitconfig

Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
tools
.Trash
.local/
.rnd
.vscode/
.lesshst
*cache*
*.local*
*info*
*hst*

commands/
.znc/
.ssh/
.netrc

